<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Test Project</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" routerLink="/admin">Admin</span>
        <mat-icon mat-list-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item class="parent">
        <span class="full-width" routerLink="/teacher">Teacher</span>
        <mat-icon mat-list-icon>account_circle</mat-icon>
      </mat-list-item>
      <mat-list-item class="parent">
        <span class="full-width" routerLink="/student">Student</span>
        <mat-icon mat-list-icon>accessibility</mat-icon>
      </mat-list-item>
      <mat-list-item class="parent">
        <span class="full-width" routerLink="/assessment">Assessment</span>
        <mat-icon mat-list-icon>content_copy</mat-icon>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <section class="container-fluid" style="width: 100%">
      <router-outlet></router-outlet>
    </section>
  </div>
</mat-sidenav-container>
