<div class="container">
  <div class="col-md-12">
    <h5>Assessment List</h5>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef>Student</th>
        <td mat-cell *matCellDef="let element">
          <mat-select [(ngModel)]="element.student" disabled>
            <mat-option *ngFor="let s of students" [value]="s.id">
              {{ s.name }}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>
      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef>Assigned Teacher</th>
        <td mat-cell *matCellDef="let element">
          <mat-select
            [(ngModel)]="element.teacherId"
            disabled
            style="width: 100px"
          >
            <mat-option *ngFor="let t of teachers" [value]="t.id">
              {{ t.name }}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>
      <!-- class Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let element">{{ element.score }}</td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
      </ng-container>
      <ng-container matColumnDef="submittedDate">
        <th mat-header-cell *matHeaderCellDef>Submitted Date</th>
        <td mat-cell *matCellDef="let element">{{ element.submittedDate }}</td>
      </ng-container>
      <ng-container matColumnDef="verified">
        <th mat-header-cell *matHeaderCellDef>Verified</th>
        <td mat-cell *matCellDef="let element">
          <span class="badge badge-success" *ngIf="element.verified"
            >Verified</span
          >
          <span class="badge badge-danger" *ngIf="!element.verified"
            >UnVerified</span
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="editAssigment(element)">
            <mat-icon mat-list-icon>edit</mat-icon>
          </button>

          <button
            mat-fab
            color="primary"
            (click)="deleteAssigment(element)"
            aria-label="Delete"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<ng-template #AddEditFormRef>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Assessment</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="onCancel()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="col-md-12">
      <form [formGroup]="assessmentForm" novalidate>
        <div class="form-group">
          <label>Student</label>
          <select
            type="numner"
            class="form-control"
            formControlName="student"
            [ngClass]="{ 'is-invalid': submitted && f.student.errors }"
          >
            <option value="null">Choose Option</option>
            <option *ngFor="let s of students" [ngValue]="s.id">
              {{ s.name }}
            </option>
          </select>
          <div *ngIf="submitted && f.student.errors" class="invalid-feedback">
            <div *ngIf="f.student.errors?.required">Student is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Score</label>
          <input
            class="form-control"
            type="number"
            formControlName="score"
            [ngClass]="{ 'is-invalid': submitted && f.score.errors }"
            [disabled]="!assessmentForm.value.verified"
          />
          <div *ngIf="submitted && f.score.errors" class="invalid-feedback">
            <div *ngIf="f.score.errors?.required">Score is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <input
            class="form-control"
            type="date"
            formControlName="startDate"
            [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
          />
          <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
            <div *ngIf="f.startDate.errors?.required">
              Start Date is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Submitted Date</label>
          <input
            class="form-control"
            type="date"
            formControlName="submittedDate"
            [ngClass]="{ 'is-invalid': submitted && f.submittedDate.errors }"
          />
          <div
            *ngIf="submitted && f.submittedDate.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.submittedDate.errors?.required">
              Submitted Date is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="mr-2">Verified</label>
          <mat-button-toggle-group
            name="fontStyle"
            formControlName="verified"
            aria-label="Font Style"
          >
            <mat-button-toggle
              [value]="true"
              [disabled]="!assessmentForm.value.submittedDate"
              >Yes</mat-button-toggle
            >
            <mat-button-toggle
              [value]="false"
              [disabled]="!assessmentForm.value.submittedDate"
              >No</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="onCancel()">
      Cancel
    </button>

    <button class="btn btn-primary" (click)="update()">Update</button>
  </div>
</ng-template>
