<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h5>Teacher List</h5>
      <div class="mt-3">
        <button
          type="button"
          (click)="openTeacherModal(AddEditTeacherFormRef)"
          class="btn btn-default btn-primary btn-sm pull-right"
        >
          <span class="fa fa-plus" aria-hidden="true">Add Teacher</span>
        </button>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- class Column -->
        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef>Class</th>
          <td mat-cell *matCellDef="let element">{{ element.class }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <!-- <button mat-button (click)="rowSelect(element)">Edit</button> -->

            <button mat-button (click)="rowSelect(element)">
              <mat-icon mat-list-icon>edit</mat-icon>
            </button>

            <button
              mat-fab
              color="primary"
              (click)="deleteSelect(element)"
              aria-label="Delete"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="col-md-12 mt-5">
      <h5>Student List</h5>
      <div class="mt-3">
        <button
          type="button"
          (click)="openStudentModal(AddEditStudentFormRef)"
          class="btn btn-default btn-primary btn-sm pull-right"
        >
          <span class="fa fa-plus" aria-hidden="true">Add Student</span>
        </button>
      </div>
      <table
        mat-table
        [dataSource]="dataSourceStudent"
        class="mat-elevation-z8"
      >
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- class Column -->
        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef>Score</th>
          <td mat-cell *matCellDef="let element">{{ element.score }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="rowSelectStudent(element)">
              <mat-icon mat-list-icon>edit</mat-icon>
            </button>
            <button
              mat-fab
              color="primary"
              (click)="deleteSelectStudent(element)"
              aria-label="Delete"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedStudentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedStudentColumns"></tr>
      </table>
    </div>
  </div>
</div>

<ng-template #AddEditTeacherFormRef>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ modalTeacherTitle }}</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="onCancel()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="col-md-12">
      <form [formGroup]="teacherForm" novalidate>
        <div class="form-group">
          <label>Name</label>
          <input
            class="form-control"
            type="text"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && ft.name.errors }"
          />
          <div *ngIf="submitted && ft.name.errors" class="invalid-feedback">
            <div *ngIf="ft.name.errors?.required">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Class</label>
          <input
            class="form-control"
            type="text"
            formControlName="class"
            [ngClass]="{ 'is-invalid': submitted && ft.class.errors }"
          />
          <div *ngIf="submitted && ft.class.errors" class="invalid-feedback">
            <div *ngIf="ft.class.errors?.required">Class is required</div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="onCancel()">
      Cancel
    </button>
    <button class="btn btn-primary" *ngIf="!editMode" (click)="onTeacherSave()">
      Save
    </button>
    <button class="btn btn-primary" *ngIf="editMode" (click)="teacherUpdate()">
      Update
    </button>
  </div>
</ng-template>

<ng-template #AddEditStudentFormRef>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ modalStudentTitle }}</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="onCancel()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="col-md-12">
      <form [formGroup]="studentForm" novalidate>
        <div class="form-group">
          <label>Name</label>
          <input
            class="form-control"
            type="text"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && fs.name.errors }"
          />
          <div *ngIf="submitted && fs.name.errors" class="invalid-feedback">
            <div *ngIf="fs.name.errors?.required">Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>Score</label>
          <input
            class="form-control"
            type="number"
            formControlName="score"
            [ngClass]="{ 'is-invalid': submitted && fs.score.errors }"
          />
          <div *ngIf="submitted && fs.score.errors" class="invalid-feedback">
            <div *ngIf="fs.score.errors?.required">Score is required</div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" (click)="onCancel()">
      Cancel
    </button>
    <button class="btn btn-primary" *ngIf="!editMode" (click)="onStudentSave()">
      Save
    </button>
    <button class="btn btn-primary" *ngIf="editMode" (click)="studentUpdate()">
      Update
    </button>
  </div>
</ng-template>
