<body>
  <div class="container" id="login-card">
    <!-- pull push used to aletr thge ordering of columns in large screens -->

    <div class="row">
      <!-- RIGHT PART the actual form -->
      <div class="col-sm-8 login-form col-sm-push-4">
        <div class="row">
          <div class="col">
            <form id="main-form" [formGroup]="loginForm">
              <div class="form-group">
                <label for="exampleInputEmail1">Username or Email</label>

                <div class="icon-wrapper">
                  <img src="../../../../assets/images/user.svg" alt="" />

                  <input
                    type="email"
                    class="form-control credential-field"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="user@user.com"
                    formControlName="username"
                  />
                  <div
                    class="error-msg"
                    *ngIf="
                      username?.errors?.required &&
                      (username.touched || submitted)
                    "
                  >
                    Username is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div class="icon-wrapper">
                  <img src="../../../../assets/images/padlock.svg" alt="" />
                  <input
                    type="password"
                    class="form-control credential-field"
                    id="exampleInputPassword1"
                    placeholder="Password"
                    formControlName="password"
                    (keyup.enter)="login()"
                  />
                  <div
                    class="error-msg"
                    *ngIf="
                      password?.errors?.required &&
                      (password.touched || submitted)
                    "
                  >
                    Password is required
                  </div>
                </div>
              </div>
              <div class="pwd-util-row"></div>
              <button type="submit" class="btn btn-login" (click)="login()">
                Sign In
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- left part -->
      <div class="col-sm-4 col-sm-pull-8" id="welcome-section">
        <div class="row">
          <div class="col">
            <h1>Welcome Back</h1>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="welcome-footer">
              <ul class="social">
                <li>
                  <a
                    href="https://www.facebook.com/zantoz.jung.thapa"
                    target="_blank"
                    ><i class="fab fa-facebook-square"></i
                  ></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                  <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
